Stage B: Machine Learning: Regression - Predicting Energy Efficiency of Buildings

Hamoye Aakanksha Gyanchandra Singh ID: 147ae4392a01f000

In [ ]:
#importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
#reading the csv file
df = pd.read_csv("/content/drive/MyDrive/energydata_complete.csv")
df.head()

                  date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0  2016-01-11 17:00:00          60      30  ...        5.3  13.275433  13.275433
1  2016-01-11 17:10:00          60      30  ...        5.2  18.606195  18.606195
2  2016-01-11 17:20:00          50      30  ...        5.1  28.642668  28.642668
3  2016-01-11 17:30:00          50      40  ...        5.0  45.410389  45.410389
4  2016-01-11 17:40:00          60      40  ...        4.9  10.084097  10.084097

[5 rows x 29 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [ ]:
df.describe

<bound method NDFrame.describe of                       date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0      2016-01-11 17:00:00          60      30  ...   5.300000  13.275433  13.275433
1      2016-01-11 17:10:00          60      30  ...   5.200000  18.606195  18.606195
2      2016-01-11 17:20:00          50      30  ...   5.100000  28.642668  28.642668
3      2016-01-11 17:30:00          50      40  ...   5.000000  45.410389  45.410389
4      2016-01-11 17:40:00          60      40  ...   4.900000  10.084097  10.084097
...                    ...         ...     ...  ...        ...        ...        ...
19730  2016-05-27 17:20:00         100       0  ...  13.333333  43.096812  43.096812
19731  2016-05-27 17:30:00          90       0  ...  13.300000  49.282940  49.282940
19732  2016-05-27 17:40:00         270      10  ...  13.266667  29.199117  29.199117
19733  2016-05-27 17:50:00         420      10  ...  13.233333   6.322784   6.322784
19734  2016-05-27 18:00:00         430      10  ...  13.200000  34.118851  34.118851

[19735 rows x 29 columns]>

In [ ]:
df.shape

(19735, 29)

So there are 28 independent variables and 1 dependent variable)

In [ ]:
#checking for missing values
df.isnull().sum()

date           0
Appliances     0
lights         0
T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
T6             0
RH_6           0
T7             0
RH_7           0
T8             0
RH_8           0
T9             0
RH_9           0
T_out          0
Press_mm_hg    0
RH_out         0
Windspeed      0
Visibility     0
Tdewpoint      0
rv1            0
rv2            0
dtype: int64

In [ ]:
df.columns

Index(['date', 'Appliances', 'lights', 'T1', 'RH_1', 'T2', 'RH_2', 'T3',
       'RH_3', 'T4', 'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8',
       'RH_8', 'T9', 'RH_9', 'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed',
       'Visibility', 'Tdewpoint', 'rv1', 'rv2'],
      dtype='object')

In [ ]:
#Flitering the date column and extracting day,month,weekday,hour,weekday 
df['date'] = pd.to_datetime(df['date'])
df['month'] = df.date.dt.month
df['weekday'] = df.date.dt.weekday
df['hour'] = df.date.dt.hour
df['week'] = df.date.dt.week

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.

In [ ]:
#dropping date column and lights column
df.drop(columns=['date','lights'], inplace=True)

In [ ]:
df.head()

   Appliances     T1       RH_1    T2  ...  month  weekday  hour  week
0          60  19.89  47.596667  19.2  ...      1        0    17     2
1          60  19.89  46.693333  19.2  ...      1        0    17     2
2          50  19.89  46.300000  19.2  ...      1        0    17     2
3          50  19.89  46.066667  19.2  ...      1        0    17     2
4          60  19.89  46.333333  19.2  ...      1        0    17     2

[5 rows x 31 columns]

In [ ]:
df.columns

Index(['Appliances', 'T1', 'RH_1', 'T2', 'RH_2', 'T3', 'RH_3', 'T4', 'RH_4',
       'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8', 'RH_8', 'T9', 'RH_9',
       'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed', 'Visibility',
       'Tdewpoint', 'rv1', 'rv2', 'month', 'weekday', 'hour', 'week'],
      dtype='object')

In [ ]:
df.drop(columns=['month', 'weekday', 'hour', 'week'], inplace=True)

In [ ]:
df.shape

(19735, 27)

In [ ]:
#features
X_data  =df[['T1', 'RH_1', 'T2', 'RH_2', 'T3', 'RH_3', 'T4', 'RH_4',
       'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8', 'RH_8', 'T9', 'RH_9',
       'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed', 'Visibility',
       'Tdewpoint', 'rv1', 'rv2']]
# target variable
y = df.Appliances

# Normalize the dataset using the MinMaxScaler after removing the following columns: [“date”, “lights”]. The target variable is “Appliances”. Use a 70-30 train-test set split with a random state of 42 (for reproducibility). Run a multiple linear regression using the training set and evaluate your model on the test set. Answer the following questions:

What is the Mean Absolute Error (in two decimal places)?

In [ ]:
#normalising the data using MinMax Scaler
from sklearn.preprocessing import StandardScaler 
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X_data,y,test_size = 0.3,random_state = 42)

In [ ]:
X_train.shape

(13814, 26)

In [ ]:
# y_train_re  = y_train.values.reshape((1,-1))
# y_train_re.shape

(1, 13814)

In [ ]:
# y_test_re  = y_test.values.reshape((1,-1))
# y_test_re.shape

(1, 5921)

In [ ]:
# Scale the data
scaler = StandardScaler() 
X_train_sc=scaler.fit_transform(X_train)
X_test_sc=scaler.transform(X_test)

In [ ]:
from sklearn.linear_model import LinearRegression
mlr = LinearRegression()
mlr.fit(X_train,y_train)

LinearRegression()

In [ ]:
y_pred = mlr.predict(X_test)
print(y_pred)

[ 45.50160253 271.27860032  46.38676919 ...  83.18945098 117.34584427
  71.26902639]

## What is the Root Mean Squared Error (in three decimal places)?

In [ ]:
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error,mean_absolute_error
score=r2_score(y_test,y_pred)
round(score,2)
# print("r2 socre is = ",score)
print("mean_sqrd_error is = ",mean_squared_error(y_test,y_pred))
mae = mean_absolute_error(y_test,y_pred)
round(mae,2)
print("mean_abs_error is = ",mean_absolute_error(y_test,y_pred))
print("root_mean_squared error of is = ",np.sqrt(mean_squared_error(y_test,y_pred)))

mean_sqrd_error is =  8768.441458872583
mean_abs_error is =  53.64493371049581
root_mean_squared error of is =  93.63995652963847

# What is the Residual Sum of Squares (in two decimal places)?

In [ ]:
rmse = np.sqrt(mean_squared_error(y_test,y_pred))
round(rmse,3)

93.64


## What is the Coefficient of Determination (in two decimal places)?

In [ ]:
score=r2_score(y_test,y_pred)
round(score,2)

0.15

In [ ]:
rss = np.sum(np.square(y_test - y_pred))
round(rss, 2)

51917941.88

# Obtain the feature weights from your linear model above. Which features have the lowest and highest weights respectively?

In [ ]:
def get_weights_df(model, feat, col_name):
#this function returns the weight of every feature
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    return weights_df
    
linear_model_weights = get_weights_df(mlr, X_train, 'Linear_Model_Weight')
# final_weights = pd.merge(linear_model_weights, on='Features')
# final_weights = pd.merge(final_weights, on='Features')

In [ ]:
linear_model_weights.sort_values(by= 'Linear_Model_Weight',ascending=False)

       Features  Linear_Model_Weight
25          rv2         6.568853e+12
24           T3         2.583918e+01
23         RH_1         1.630804e+01
22           T8         9.994321e+00
21           T6         7.361451e+00
20    Tdewpoint         5.700416e+00
19         RH_3         4.798800e+00
18           T4         2.796434e+00
17    Windspeed         2.233523e+00
16         RH_4         1.201145e+00
15           T7         1.037665e+00
14         RH_6         4.120486e-01
13         RH_5         2.579754e-01
12   Visibility         2.021333e-01
11  Press_mm_hg         1.704465e-01
10           T1        -3.707207e-01
9        RH_out        -1.092986e+00
8            T5        -1.603198e+00
7          RH_7        -1.693049e+00
6          RH_9        -1.759149e+00
5          RH_8        -5.782503e+00
4         T_out        -1.106870e+01
3          RH_2        -1.374263e+01
2            T2        -1.836732e+01
1            T9        -2.115543e+01
0           rv1        -6.568853e+12


## Train a ridge regression model with an alpha value of 0.4. Is there any change to the root mean squared error (RMSE) when evaluated on the test set?

In [ ]:
from sklearn.linear_model import Ridge, Lasso, ElasticNet
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(X_train, y_train)

Ridge(alpha=0.4)

In [ ]:
y_pred_ridge = ridge_reg.predict(X_test)

In [ ]:
print("root_mean_squared error of is = ",np.sqrt(mean_squared_error(y_test,y_pred_ridge)))

root_mean_squared error of is =  93.64050398701558


## Train a lasso regression model with an alpha value of 0.001 and obtain the new feature weights with it. How many of the features have non-zero feature weights?

In [ ]:
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(X_train, y_train)
y_pred_lasso = lasso_reg.predict(X_test)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_coordinate_descent.py:648: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 6.136e+06, tolerance: 1.464e+04
  coef_, l1_reg, l2_reg, X, y, max_iter, tol, rng, random, positive

In [ ]:
def get_weights_df(model, feat, col_name):
#this function returns the weight of every feature
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    return weights_df
    
lasso_model_weights = get_weights_df(lasso_reg, X_train, 'Lasso_Model_Weight')
# final_weights = pd.merge(linear_model_weights, on='Features')
# final_weights = pd.merge(final_weights, on='Features')

In [ ]:
lasso_model_weights.sort_values(by= 'Lasso_Model_Weight',ascending=False)

       Features  Lasso_Model_Weight
25           T3           25.831102
24         RH_1           16.299675
23           T8            9.988261
22           T6            7.360327
21    Tdewpoint            5.688957
20         RH_3            4.802045
19           T4            2.788718
18    Windspeed            2.230566
17         RH_4            1.202900
16           T7            1.034389
15         RH_6            0.411450
14         RH_5            0.257537
13   Visibility            0.202535
12  Press_mm_hg            0.170206
11          rv1            0.032958
10          rv2            0.000000
9            T1           -0.366515
8        RH_out           -1.091186
7            T5           -1.601612
6          RH_7           -1.691936
5          RH_9           -1.762338
4          RH_8           -5.778977
3         T_out          -11.059566
2          RH_2          -13.737231
1            T2          -18.363178
0            T9          -21.138361


# What is the new RMSE with the lasso regression? (Answer should be in three (3) decimal places)

In [ ]:
print("root_mean_squared error of is = ",np.sqrt(mean_squared_error(y_test,y_pred_lasso)))

root_mean_squared error of is =  93.64047772243322